* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
}

.AppHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #ccc;
	
}

.AppTitle {
    display: flex;
    width: 25vw;
    border-right: 1px solid #ccc;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
	background: linear-gradient(to bottom right, #00CC66, #33FF99);
	
}

.AppRoom {
    display: flex;
    width: 75vw;
    justify-content: center;
    box-sizing: border-box;
    padding: 12px;
	background: #33FF99;
	font-family: 'Gaegu', cursive;
	font-size: 24px;
	font-weight: 700;
	color: #6699FF;
}

.AppBody {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.MessageWrapper {
    display: flex;
    flex-direction: column;
    width: 75vw;
    flex: 1;
}